<div class="container border">
    <h3><%= @message.sent_messageable.user_name%></h3>
    <h4><%= @message.topic %></h4>
    <p><%= @message.body%></p>
    <p><%= @message.created_at %></p>
    
</div>
<%# all attributes need to be nested within message[] so that they can be read and accepted by .permit in controller %>
<div class="form-group mx-3">
<%= form_with url: new_message_path do |form| %>
    <%# <%= form.label :topic %>
    <%# <%= form.text_field :topic, class: "form-control" %>
    <%= form.label "message[body]" %>
    <%= form.text_area "message[body]", class: "form-control", size: "30x5" %>
    <%= form.hidden_field "message[profile_id]", value: @message.sent_messageable.id %>
    <%= form.hidden_field "message[response_type]", :value => "reply"%>
    <%= form.submit "Send Message", class: "btn btn-light text-primary d-block mx-auto my-3" %>
<% end %>
</div>