
<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :user_name %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.hidden_field :user, value: current_user.id%>
    <%=f.fields_for :address do |a|%>
      <%=a.input :house_number%>
      <%=a.input :street_name%>
      <%=a.input :suburb%>
      <%=a.input :postcode%>
      <%=a.input :state%>
      <%=a.input :country%>

    <%end%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
