
<% if current_user.profile.id == @profile.id %>
<%= image_tag @profile.profile_img, class: "mw-30" if @profile.profile_img.attached? %>
<div class="container">
  <h4>
    <strong><%= @profile.first_name %> <%= @profile.last_name %></strong>
  </h4>

  <p>
    <strong>User name:</strong>
    <%= @profile.user_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @profile.bio %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @profile.address.house_number %> <%= @profile.address.street_name %>, <%= @profile.address.suburb.capitalize %>, <%= @profile.address.state.upcase %>, <%= @profile.address.country.upcase %>
  </p>

  <%= link_to 'Edit Profile', edit_profile_path(@profile), class: "btn btn-light text-primary" %>
</div>
<% else %>
  
  <h1 class="text-center display-3 my-5"><%= @profile.user_name %>'s Pantry</h1>
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <h2 class="text-center my-3">About me</h2>
      <p class="text-center">
        <%= @profile.address.suburb.capitalize %>,
        <%= @profile.address.state.upcase %>, 
        <%= @profile.address.country %>
      </p>
      <p class="m-3"><%= @profile.bio %></p>
    </div>
    <div class="col-sm-5">
      <h2 class="text-center my-3">Contact</h2>
      <div class="form-group mx-3">
        <%= form_with url: new_message_path do |form| %>
          <%= form.label "message[topic]", "topic" %>
          <%= form.text_field "message[topic]", class: "form-control" %>
          <%= form.label "message[body]", "body" %>
          <%= form.text_area "message[body]", class: "form-control", size: "30x5" %>
          <%= form.hidden_field "message[profile_id]", value: @profile.id %>
          <%= form.submit "Send Message", class: "btn btn-light text-primary d-block mx-auto my-3" %>
        <% end %>
      </div>
    </div>
  </div>
  
  

  <div class="row justify-content-center">
        <% @profile.products.each do |product|%>
            <div class="card col-sm-3 m-2">
                <%= image_tag product.pictures[0], class: "card-image-top" if product.pictures.attached?%>
                <div class="card-body">
                    <h4 class="card-title"><%= product.name %></h4>
                    <p class="card-text"><%= product.description %></p>
                    <%= link_to "View Item", product_path(id: product.id), class: "btn btn-light text-primary mx-auto" %>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
<p id="notice"><%= notice %></p>


