<p id="notice"><%= notice %></p>
<div class="container p-5 mx-auto">
<p>
  <strong class="d-block">Name:</strong>
  <%= @product.name %>
</p>
<hr>
<p>
  <strong class="d-block">Description:</strong>
  <%= @product.description %>
</p>
<hr>
<p>
  <strong class="d-block">Organic:</strong>
  <%= @product.organic %>
</p>
<hr>
<p>
  <strong class="d-block">Harvested date:</strong>
  <%= @product.harvested_date %>
</p>
<hr>
<p>
  <strong class="d-block">Expiry date:</strong>
  <%= @product.expiry_date %>
</p>
<hr>
<p>
  <strong class="d-block">Stock:</strong>
  <%= @product.stock %>
</p>
<hr>
<p>
  <strong class="d-block">Price per unit:</strong>
  <%= @product.price_per_unit %>
</p>
<hr>
<% if @product.profile.id == current_user.profile.id%>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<% end %>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% if @product.pictures.attached? %>
      <% @product.pictures.each do |picture|%>
        <div class="carousel-item active">
          <% image_tag picture, class: "d-block w-100"%>
        </div>
      <% end %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>